@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  font-family: 'Nunito',sans-serif;
  box-sizing: border-box;
}

.home_page{
  background-image: url('/public/icons/beach.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home h2 {
  color: #911F27;
  width: 40vw;
  font-size: 5vw;
  text-align: center;
  margin: 5rem 30rem auto;
}

.home .btn {
  background-color: coral;
  border:none;
  border-radius: 25px;
  text-align: center;
  color: #ffffff;
  font-size: 2vw;
  font-weight: bold;
  width: 15vw;
  margin: 2rem 40rem auto;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #ff7f50;
}
.home .btn:hover{
  background-color: #911F27;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 800px) {
  .home_page {
    height: 100vh;
    width: 100vw;
  }

  .home h2{
    font-size: 5vw;
    margin-left: 40%;
  }

  .home .btn{
    width: 10rem;
    font-size: 1vw;
    margin-left: 45%;
  }
}