@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  font-family: 'Nunito',sans-serif;
  box-sizing: border-box;
}

.home_page{
  background-image: url('/public/icons/beach.jpg');
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  height: 100vh;
}


.home h2 {
  color: #911F27;
  width: 600px;
  font-size: 80px;
  text-align: center;
  margin: 5rem 30rem auto;
}

.home .btn {
  background-color: coral;
  border:none;
  border-radius: 25px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  width: 250px;
  position: absolute;
  margin: 2rem 40rem;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #ff7f50;
}

.tag-item {
  display: inline-block;
}

@media only screen and (max-width: 950px) {
  .home_page {
    height: auto;
    width: auto;
  }
}